@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Roboto';
		font-weight: 400;
		font-style: normal;
		src: font-url('src/assets/fonts/Roboto-Regular.ttf');
	}
	@font-face {
		font-family: 'Roboto';
		font-weight: 700;
		font-style: normal;
		src: font-url('src/assets/fonts/Roboto-Bold.ttf');
	}

	html {
		font-family: 'Roboto', system-ui, sans-serif;
		font-size: 16px;
	}
	
}
